/clcd-u102.rom
/clcd-u103.rom
/clcd-u104.rom
/clcd-u105.rom
/vic20-basic.rom
/vic20-chargen.rom
/vic20-kernal.rom
/c65-system.rom
/c64-basic.rom
/c64-chargen.rom
/c64-kernal.rom
/geos-kernal.bin
/primo-a64.rom
/primo-b64.rom
/tvc22_d4_64k.rom
/tvc22_d6_64k.rom
/tvc22_d7_64k.rom
/*.M65
/*.img
/*.bit
/*.d81
/*.list
