dist: jammy
sudo: required
language: c

matrix:
  include:
    - name: Linux native compilation
      os: linux
      addons:
        hostname: lgb
        apt:
          packages:
            - alien
            - build-essential
            - bzip2
            - coreutils
            - curl
            - dpkg
            - fakeroot
            - gawk
            - gcc
            - file
            - libc-bin
            - libc6-dev
            - libcurl4-openssl-dev
            - libgtk-3-dev
            - libreadline-dev
            - libsdl2-dev
            - make
            - rpm
            - sed
            - tar
            - vim-common
            - wget
            - zip
            - ruby3.0
            - ruby
            - rubygems-integration
            - rake
      compiler: gcc
      before_script:
        - echo "127.126.125.124 lgb" | sudo tee -a /etc/hosts 2>/dev/null || true
        - cat /etc/hosts || true
        - hostname
        - set +e
        - uname -a ; lsb_release -a || true ; cat /proc/cpuinfo || true ; hostname ; pwd ; df -h ; id -a
        - set -e
        - sdl2-config --version --prefix --cflags --libs --static-libs
        - pkg-config --cflags-only-I --libs gtk+-3.0
        - set +e
        - ps auxwwww || true
        - uptime
        - build/show-git-info
      script:
        - set -e
        - make -j 3 RELEASE=yes OFFICIALBUILD=yes
        - set +e
        - for a in build/bin/*.native ; do strip $a ; ls -l $a ; done
        - set -e
        - make RELEASE=yes OFFICIALBUILD=yes deb
        - set +e
        - cp build/bin/*.deb build/bin/*.rpm . || true
        - build/bin/xmega65.native --help || true
        - ldd build/bin/xmega65.native
        - uptime ; pwd ; ls -l
      before_deploy:
        - build/deploy/before-deploy.sh xemu-deploy Linux
        - gem install specific_install || true
        - gem specific_install https://github.com/tumblr/tumblr_client || true
        - dpkg -l | fgrep -ai ruby || true
      deploy:
        provider: pages
        local_dir: xemu-deploy
        skip_cleanup: true
        github_token: $GHDEPLOYKEY2
        keep_history: false
        repo: lgblgblgb/xemu-binaries
        target_branch: binary-linux-$TRAVIS_BRANCH
        email: lgblgblgb@gmail.com
        name: Gábor Lénárt aka. LGB
        verbose: false
        on:
          branch:
            - master
            - next
            - dev
      after_deploy:
        - build/deploy/discord-webhook.sh success "Ubuntu Linux DEB" ANY:DISCORD_XEMU_SERVER_TEST_CHANNEL_WEBHOOK master,next:DISCORD_MEGA65_SERVER_XEMU_CHANNEL_WEBHOOK || true

env:
  global:
    secure: "OMFY2V+IyO53dbjtoIkPD+FBffcPI/+EhQkzqqItgqiQshKTZoeK5g8hGx6Vrj+IMKhACOD0juL7uo0yJm6B38HI0t0o8bAuKEdDsHygFRdgKe+vlf6h3FgNl5iUcFm7el352BWtXzB4CRNtoDL32xVBicBnv4LBdcks3qy7YaAN5Rq03QijlemwZxmbXAIGLCdc14fwKPGNtdrpcxNCi2dhL3zVrU2elfvozoUodrnPPmVOHLEyPXkMqlgvGz/NWrFAoq+PzEblmFtnpWFEqi2JdrTb6WYIwo+49cObArh2Musv7+eAzflqylf3yaCx0mTGIETVS+Gc2hoHN1iCMbQI3OMGWw1083Z4cBovCP58+8/wtU0Lu57Ea8QKMKViZPiAd4r0ydcei8GSdful7YYL0eux1nsF+ldB7fv0U8Bc7gWLOPHphtjFqLM7kbomaDDRH97rSYlKDehdKew+olz6xRitHuhWTkzjX92tLX18z0FV/dUc+lGjbf6R1EHg5gbhHtY7ImNktoTSc3KMr3tePESlvNeQzM5Q6zbOI5JIXUve0UqdvFTf9Bq1S73Dfmj0Ckc9kcsbPuIrSTtnoSy5T7P5HsqoUJk+ahtD3mQs/PceYsTvziBedFhUG2RPAPdOq+bg1X9QSoCxcXQthh8ZWzOcTJTwpqFhtTERWoI="
