sudo: required
language: c
git:
  depth: 4
os:
- linux
- osx
matrix:
  allow_failures:
  - os: osx
env:
  linux_dist: ubuntu
  linux_ver: 16.04
  linux_init: "/lib/systemd/systemd"
  linux_opts: "--privileged --volume=/sys/fs/cgroup:/sys/fs/cgroup:ro"
services:
- docker
before_install:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo docker pull ${linux_dist}:${linux_ver}
  ; fi
script:
- build/travis/store-travis-info
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then container_id_file=$(mktemp) ; export
  container_id_file ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo docker run --detach --volume="${PWD}":/srv/git:rw
  ${linux_opts} ${linux_dist}:${linux_ver} "${linux_init}" > "${container_id_file}"
  ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo docker exec --tty "$(cat ${container_id_file})"
  /srv/git/build/travis/install.linux  ; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]];   then build/travis/install.osx ; fi
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo docker stop "$(cat ${container_id_file})"
  ; fi
deploy:
  provider: bintray
  user: "lgblgblgb"
  file: "build/deploy/bintray-description.json"
  on: test
  key:
    secure: h/8a6mRDEkYNV6xUJkPeW2/yrc7Xh0dF6RDU+GLTOtkRHVDKh08G0XIdOO07Brv+hEEpV5vYWoFuet+nirz65XKnW5tzfmvCTcOt7uK+aNpN0vXn2HAy5eeXI+JpfwwLvS0VnabTl4V+sZ2dOfCPNy94gmMVB8DaityG/iVlUIXXPDllQhPlnhDK6OZJ9hVrxJ1IJ7A8yW5eNU18ZFHpjyjbR+eCuuwdy0HAVvk2PwCk1YretnAt0WLACfcjDJp002WKyB6KilzvAloWYNkWXKZz/ZP2RdcH0enKE/cmsI9Fb4S4qQqQQx7h+CaKTlB7mt1u60J92geaFVdCGkPE4vyhckMyGist5Ggej28G+9wQtvd+2W6klb6RbQuKWL08sEFue8xqqYtg9qdkkEEG0DCxi5j7ytFmXSHsaZFwEgVqGMQDocKO4Wk5uCRkPbyfoSXRJOcwUEL90VpOYCSTAZL2XhFY1pA/ZdqO4ENWlhs/80Rpnadr+O/LkoXLtv2NTA7ku9onV1GiccEuHvFKhc3hawm/wdPVVcXO8sgfebxHJ5MrLmhhP0ivxd2RRWS6ZALXdlqWEx0uFVosVsNLVGfkkJZLJRW3ZnF3kheofM2fDqsMUH7QElb+8qfGWSKrpZD3k1QWQP03da1V0mRFNWLxG0MsIPwl1qf0KZPz9oI=
